/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --- Base Styles --- */
* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-dark-primary: #121212; 
    --bg-dark-secondary: #1a1a1a; 
    --bg-dark-tertiary: #2a2a2a; 

    --text-light-primary: #f0f0f0; 
    --text-light-secondary: #cccccc; 
    --text-light-accent: #ffffff; 

    --border-dark: #3a3a3a; 
    --accent-color: #bb86fc; 
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    font-size: 16px;
    overflow-x: hidden;
    transition: all 0.3s ease;
    color-scheme: dark;
}

/* --- Body and Scrollbar Styles --- */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-primary); 
    min-height: auto;
    /* scroll-behavior: smooth; */
    transition: all 0.3s ease;
    scrollbar-width: thin;
    scrollbar-color: var(--border-dark) var(--bg-dark-primary); 
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border-dark);
    border: 2px solid var(--bg-dark-primary);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-dark-primary);
}

/* --- Navigation Bar (Desktop) --- */
.nav {
    background-color: var(--bg-dark-primary);
    height: 4.55rem;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease;
    overflow: hidden;
}

.nav #border {
    position: absolute;
    background-color: var(--border-dark); 
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 1.3px;
    bottom: 0;
    border-radius: 1000px;
    overflow: hidden;
}

.ul {
    width: 88%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.625rem;
    padding: 0 20px;
    transform: translate(-50% , 0);
    left: 50%;
    position: absolute;
    transition: all 0.3s ease;
}

#home {
    transform: translateY(-20px);
    opacity: 0;
    animation: animation9 1.0s 1.2s cubic-bezier(.47, 1.64, .41, .8) forwards;
}
#about {
    transform: translateY(-25px);
    opacity: 0;
    animation: animation9 1.0s 1.4s cubic-bezier(.47, 1.64, .41, .8) forwards;
}
#MYProjects {
    transform: translateY(-30px);
    opacity: 0;
    animation: animation9 1.0s 1.6s cubic-bezier(.47, 1.64, .41, .8) forwards;
}
#blog {
    transform: translateY(-35px);
    opacity: 0;
    animation: animation9 1.0s 2.0s cubic-bezier(.47, 1.64, .41, .8) forwards;
}

@keyframes animation9 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ul .logo {
    margin-right: auto;
    width: auto;
    opacity: 0;
    transition: all 0.3s ease;
    position: relative;
    animation: animation2 1s 1.575s cubic-bezier(.47, 1.64, .41, .8) forwards;
}

.ul .logo a {
    text-decoration: none;
    font-size: 1.45rem;
    width: 1.375rem;
    font-weight: 600;
    color: var(--text-light-primary); 
    transition: all 0.3s ease;
}

.ul .logo a:hover{
    color: var(--text-light-accent);
}

li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 6.15rem;
    border-radius: 18px;
    background-color: transparent;
    transition: all 0.3s ease;
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--text-light-secondary); 
    font-size: 18px;
    border-radius: 18px;
    font-weight: 400;
    transition: all 0.3s ease;
    position: relative;
}

li a:hover {
    color: var(--text-light-accent); 
}

li a::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: -6%;
    height: 3px;
    width: 16%;
    opacity: 0;
    border-radius: 1000px;
    background-color: var(--text-light-accent); 
    transition: all 0.3s ease;
}

li a:hover::after {
    bottom: 6%;
    opacity: 1;
}

/* --- Downbar (Mobile Navigation) --- */
.downbar {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: var(--bg-dark-primary);
    overflow: hidden;
    transition: all 0.3s ease;
}

.downbar #border_2 {
    position: absolute;
    background-color: var(--border-dark); 
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 1.3px;
    top: 0;
    border-radius: 1000px;
}

.ul2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 85%;
    transition: all 0.3s ease;
}

.ul2 #logo2 {
    margin-right: auto;
    margin-left: 25px;
    opacity: 0;
    transition: all 0.3s ease;
    position: relative;
    animation: animation2 1s 1.575s cubic-bezier(.47, 1.64, .41, .8) forwards;
}

.ul2 #logo2 a {
    text-decoration: none;
    font-size: 1.15rem;
    width: 0 1.375rem;
    font-weight: 600;
    color: var(--text-light-primary); 
    transition: all 0.3s ease;
}

.downbar .ul2 #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    font-size: x-large;
    color: var(--text-light-secondary); 
    height: 50px;
    width: 60px;
    transform: translateY(20px);
    opacity: 0;
    overflow: hidden;
    margin-left: auto;
    transition: all 0.3s ease;
    animation: animation10 1.0s 1.5s cubic-bezier(.47, 1.64, .41, .8) forwards;
}

@keyframes animation10 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.downbar .ul2 #menu:hover {
    color: var(--text-light-accent); 
}

.ul2 .rightbtm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 140px;
    transition: all 0.3s ease;
}

/* --- Section (Mobile Navigation Menu) --- */
.section {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(26, 26, 26, 0.904); 
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.4);
    border-top: 0.5px solid rgba(255, 255, 255, 0.08);
    border-left: 0.5px solid rgba(255, 255, 255, 0.08);
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(1px);
    width: 85%;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 999;
    height: 80px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.section.active {
    bottom: 70px;
    opacity: 1;
}

.section li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    color: var(--text-light-secondary); 
    transition: all 0.3s ease;
}
.section li a:hover {
    color: var(--text-light-accent); 
}

.section #home2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

/* --- Hero Section  --- */
#cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: var(--bg-dark-primary);
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    color: var(--text-light-accent); 
    transform: translateY(120px);
}

.name h4 {
    margin-top: 6px;
    color: var(--text-light-primary); 
    position: relative;
}

.name h4::after {
    content: '';
    position: absolute;
    background-color: var(--bg-dark-primary);
    border-left: 2px solid var(--text-light-primary); 
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: animation3 4.5s 1.6s steps(20) forwards;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    min-width: 90%;
    position: relative;
    overflow: hidden;
}

#cont .text {
    position: relative;
    font-size: clamp(1rem, 6.5vw, 7.075rem);
    font-weight: 600;
    color: var(--text-light-primary); 
    transition: all 0.3s ease;
    opacity: 0;
    white-space: nowrap;
    animation: animation5 1.3s 1.4s forwards;
}

.box #img1 {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    height: clamp(2rem , 12vw , 10.075rem);
    animation: animation15 1.2s 1.0s forwards ease;
}

.box #img2 {
    position: absolute;
    right: 30%;
    transform: translate(50% , 0);
    opacity: 0;
    height: clamp(2rem , 12vw , 10.075rem);
    animation: animation16 1.2s 1.0s forwards ease;
}

@keyframes animation15 {
    from {
        opacity: 0;
    }
    to {
        left: 6%;
        opacity: 1;
    }
}

@keyframes animation16 {
    from {
        opacity: 0;
    }
    to {
        right: 6%;
        opacity: 1;
    }
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-secondary);
    height: auto;
    width: 100%;
    font-size: 0.5rem;
    font-weight: 100;
    opacity: 0;
    position: absolute;
    bottom: 2%;
    left: 38%;
    animation: animation6 1s 1.8s cubic-bezier(.47, 1.64, .41, .8) forwards;
    transition: all 0.3s ease;
}

.scroll a {
    text-decoration: none;
    color: var(--text-light-primary); 
    transition: all 0.3s ease;
}

.scroll a:hover {
    transform: translateY(-4px);
}

#mouse {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid var(--text-light-primary);
    margin-right: 10px;
    width: 20px;
    height: 32px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

#dot {
    background-color: var(--text-light-primary); 
    height: 5px;
    width: 4px;
    border-radius: 1000px;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    animation: animation7 1.5s forwards infinite;
}

/* --- About Section (cont2) --- */
#cont2 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    justify-items: center;
    align-items: start;
    padding: 50px 0;
    width: 100%;
    min-height: 80vh; 
    background-color: var(--bg-dark-primary);
    transition: all 0.3s ease;
}

#cont2 .arrow {
    position: absolute;
    right: 6%;
    top: 22%;
    background-color: var(--border-dark); 
    width: 75%; 
    height: 2px;
    z-index: 0;
    animation: animation11 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s ease;
}

@keyframes animation11 {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

#cont2 .about_me {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;
    justify-self: start;
    align-self: start;
    margin-left: 9%;
    margin-top: 2.5%;
    font-size: 35px;
    color: var(--text-light-accent); 
    opacity: 0;
    transform: translateX(100px);
    animation: animation12 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s ease;
}

@keyframes animation12 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#cont2 img {
    height: 250px;
    max-width: 100%;
    border-radius: 30px;
    position: absolute;
    left: 12%;
    top: 55%;
    transform: translate(0px, -50%);
    object-fit: cover;
    z-index: 0; 
    opacity: 0.2; 
}

#cont2 .about_me,
#cont2 p,
#social_links {
    position: relative;
    z-index: 1; 
}

#cont2 p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: start;
    text-align: left;
    margin-right: 25%; 
    margin-top: -10%; 
    color: var(--text-light-primary); 
    height: auto; 
    width: 450px; 
    padding: 20px;
    opacity: 0;
    transform: translateX(50px);
    font-size: medium;
    line-height: 1.6; 
    transition: all 0.3s ease;
    animation: animation12 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
}

#social_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1000px;
    border: 2px solid var(--border-dark); 
    height: 50px;
    width: 230px;
    grid-column: 2 / 2; 
    grid-row: 3 / 4;
    justify-self: start;
    align-self: end;
    margin-left: 30%; 
    margin-bottom: 2%;
    opacity: 0;
    transform: translateX(80px);
    transition: all 0.3s ease;
    animation: animation14 1.4s 1.0s forwards cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    overflow: hidden; 
}

@keyframes animation14 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#social_links::after {
    position: absolute;
    content: "Contact Me!";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: large;
    z-index: 2; 
    background-color: var(--bg-dark-primary); 
    color: var(--text-light-primary);
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    transition: all 0.3s ease;
}

#social_links:hover::after {
    transform: translateY(-50px);
    height: 50px;
    width: 50px;
}

#social_links a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--text-light-secondary); 
    font-size: x-large;
    font-weight: 550;
    height: 45px;
    width: 50px;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    position: relative;
    z-index: 1; 
}

#social_links a:hover {
    transform: translateY(-4px);
    color: var(--text-light-accent); 
}

/* --- Projects Section (cont3) --- */
#cont3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-primary);
    color: var(--text-light-primary); 
    min-height: 120vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}

#cont3 .content #projectsSectionHeading {
    font-size: 2.5rem;
    color: var(--text-light-accent); 
    position: relative;
    transition: all 0.3s ease;
}

#cont3 .content #projectsSectionHeading::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 30%;
    background-color: var(--border-dark);
    bottom: -20px;
    left: 40%;
    border-radius: 1000px;
    transform: translateX(-25%);
    transition: all 0.3s ease;
}

.carousel {
    margin: 0 auto;
    padding: 20px 0;
    height: 300px;
    max-width: 1100px;
    overflow: hidden;
    display: flex;
    margin-top: 40px;
}

.group {
    display: flex;
    height: 310px;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: animation8 10s linear infinite;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 260px;
    color: var(--text-light-primary);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px 0;
    background-color: var(--bg-dark-secondary);
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    position: relative;
}

#cont3 #check_link {
    text-align: center;
    text-decoration: none;
    color: var(--text-light-primary); 
    font-size: larger;
    margin-top: 10px;
    background: none;
    position: relative;
}

#cont3 #check_link::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--text-light-primary); 
    border-radius: 1000px;
    bottom: 0;
    transition: all 0.3s ease;
}

#cont3 #check_link:hover::before {
    width: 100%;
}

/* --- Blogs Section (cont4) --- */
#cont4 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    justify-items: center;
    align-items: start;
    padding: 50px 0;
    width: 100%;
    min-height: 80vh; 
    background-color: var(--bg-dark-primary);
    transition: all 0.3s ease;
}

#cont4 .arrow {
    position: absolute;
    right: 6%;
    top: 22%;
    background-color: var(--border-dark); 
    width: 75%; 
    height: 2px;
    z-index: 0;
    animation: animation11 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s ease;
}

#cont4 #blogsSectionHeading {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;
    justify-self: start;
    align-self: start;
    margin-left: 9%;
    margin-top: 2.5%;
    font-size: 35px;
    color: var(--text-light-accent); 
    opacity: 0;
    transform: translateX(100px);
    animation: animation12 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s ease;
}

#cont4 p{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: start;
    text-align: left;
    margin-right: 25%; 
    margin-top: -10%; 
    color: var(--text-light-primary); 
    height: auto; 
    width: 450px; 
    padding: 20px;
    opacity: 0;
    transform: translateX(50px);
    font-size: medium;
    line-height: 1.6; 
    transition: all 0.3s ease;
    animation: animation12 1.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* --- Footer --- */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: var(--text-light-primary); 
    min-height: 40vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 200px;
    width: 95%;
    position: relative;
}

.footer .footer_container h1 {
    position: absolute;
    top: 15%;
    left: 2%;
    font-weight: 500;
    color: var(--text-light-primary); 
}

.footer .footer_container #quote {
    font-size: 25px;
    font-variant: small-caps;
    margin-top: auto;
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--text-light-secondary); 
}

.footer .footer_container p {
    text-decoration: overline;
    color: var(--text-light-primary); 
}

/* --- Keyframe Animations --- */

@keyframes animation2 {
    from {
        opacity: 0;
        transform: translateX(-1.563rem);
    }
    to {
        transform: translateX(-2px);
        opacity: 1;
    }
}

@keyframes animation3 {
    40%,
    60% {
        left: 102%;
    }
    100% {
        left: 102%;
    }
}

@keyframes animation5 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation6 {
    from {
        transform: translateY(-3.125rem);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-1.6rem);
    }
}

@keyframes animation7 {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes animation8 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* --- media queries2 --- */
@media (max-width: 780px) {
    body {
        overflow: hidden;
    }

    .nav {
        display: none;
    }

    .ul {
        display: none;
    }

    .nav .logo {
        font-size: 1.05rem;
        margin-left: 1px;
    }

    #cont2 #social_links {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    #cont {
        padding-top: 0px;
        height: 60vh;
    }

    .scroll {
        display: none;
    }

    #menu {
        display: flex;
    }

    .downbar {
        display: flex;
        height: 60px;
    }

    .section {
        display: flex;
    }

    .nav #home,
    #about,
    #MYProjects,
    #blog {
        display: none;
    }

    #cont2 .arrow {
        display: none; 
    }

    #cont2 .about_me {
        grid-column: 1 / 3; 
        grid-row: 1 / 2;
        justify-self: center;
        text-align: center;
        margin-left: 0; 
        margin-top: 5%;
        font-size: 28px;
        transform: translateX(0); 
        opacity: 1; 
    }

    #cont2 img {
        position: static; 
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        left: auto; 
        top: auto; 
        transform: none; 
        margin: 20px auto; 
        height: 220px; 
        width: 80%;
        opacity: 0.8;
        max-width: 300px;
    }

    #cont2 p {
        grid-column: 1 / 3; 
        grid-row: 3 / 4;
        justify-self: center; 
        text-align: center;
        margin: 0 auto;
        width: 90%; 
        padding: 15px; 
        font-size: 15px; 
        transform: translateX(0); 
        opacity: 1; 
    }

    #social_links {
        grid-column: 1 / 3; 
        grid-row: 4 / 5;
        justify-self: center;
        margin: 20px auto;
        width: 200px; 
        transform: translateX(0); 
        opacity: 1;
    }

    #social_links::after {
        display: none; 
    }

    @media (max-width: 480px) {
        #cont2 .about_me {
            font-size: 24px;
            margin-top: 10%;
        }

        #cont2 p {
            font-size: 14px;
            padding: 10px;
        }

        #social_links {
            width: 180px;
            height: 45px;
        }

        #social_links a {
            font-size: large;
            height: 40px;
            width: 45px;
        }
    }

    .about-text {
        text-align: center;
    }

    .footer {
        min-height: 50vh;
    }

    .footer .footer_container {
        text-align: center;
        width: 90%;
        margin-bottom: auto;
        margin-top: 30px;
    }

    #social_links::after {
        display: none;
    }
}
